<div class="container">
    <div class="row">
      <div class="col-lg shadow border m-1">
        <div class="text-center">
          <h2>Sobre mim!</h2>
          <img src="src\assets" alt="foto de perfil" width="256" height="256" class="rounded-circle">
          <p>bla bla bla bla tung tung tung sahur.
            bla bla bla bla tung tung tung sahur.
            bla bla bla bla tung tung tung sahur.
            bla bla bla bla tung tung tung sahur.
            bla bla bla bla tung tung tung sahur.
            bla bla bla bla tung tung tung sahur.
            bla bla bla bla tung tung tung sahur.
            
          </p>
        </div>
      </div>
      <div class="col-lg shadow border m-1">
        <div class="text-center">
          <h2>Projeto em Destaque</h2>
        </div>
      </div>
    </div>
  </div>