.banner-img {
    width: 100%;
    max-height: 300px;
    /* ajuste conforme necessário */
    object-fit: cover;
    border-radius: 12px;
    /* opcional: bordas levemente arredondadas */
    margin-bottom: 1rem;
}
.jumbotron h2 {
    font-weight: bold;
}