<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Sobre mim!</h2>
        <img src="../../../assets/me_.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
        <p>Olá! Sou Gustavo Passos, estudante de Engenharia de Software com sólida experiência no desenvolvimento 
          de sistemas. Tenho conhecimentos em linguagens como C#, Java, Goolang, Typescript, Python... além de atuar com frameworks como 
          .NET, ASP.NET, Angular, Vue.js... Trabalho com bancos de dados relacionais (MySQL, SQL Server) e não-relacionais (MongoDB), versionamento
           com Git e integração contínua.</p> <p>Possuo vivência em metodologias ágeis como Scrum e Kanban, participando de sprints, plannings e reviews 
            com foco na entrega contínua e melhoria de processos. Tenho experiência com testes automatizados utilizando ferramentas como xUnit, Robot Framework
             e Cypress, além de aplicar princípios de TDD (Test-Driven Development) e BDD (Behavior-Driven Development) em projetos reais.</p> 
             <p>Atualmente, foco no aprimoramento das minhas habilidades em engenharia de software, qualidade de código e arquitetura, testes automatizados e segurança 
              de aplicações. Estou familiarizado com práticas de Clean Code, SOLID, DevOps, além de possuir noções de arquitetura de software e containers
               (Docker).</p> <p>Fora do ambiente técnico, sou entusiasta de
           esportes e valorizo o equilíbrio entre vida pessoal e profissional, o que me permite manter uma rotina saudável e produtiva.</p>
      </div>
    </div>

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Projetos</h2>
        <h4>{{featuredProject.name}}</h4>
      </div>

      <carousel>
        <div *ngFor="let picture of featuredProject.pictures">
          <slide><img src="{{picture}}" alt="slide" style="display: block; width: 100%;"></slide>
        </div>
      </carousel>
      
      <p class="mt-2">{{featuredProject.summary}}</p>
      <p>Visite meu portifolio para saber mais!</p>
    </div>
  </div>
</div>